/* Color names from https://colours.neilorangepeel.com/ */
/* Border-box fix by Paul Irish
-------------------------------------------------*/
/* This makes it so that padding and border to not change the element size (i.e. size is dictated entirely by set height and width) */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* Global styles
-------------------------------------------------*/
body {
    background-image: url("../images/phamtastic-pizza-background.png");
}
.flex-container {
    display: flex;
}
a {
    color: papayawhip;
}
.content-container {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
section {
    padding: 10px;
    margin: 10px;
}
section:nth-child(odd) {
    background-color: lemonchiffon;
}
section:nth-child(even) {
    background-color: lightyellow;
}
h1, h2, h3 {
    font-family: 'Courgette', cursive;
    margin-top: 5px;
    margin-bottom: 10px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
ul {
    list-style-type: circle;
    margin-left: 15px;
    margin-bottom: 5px;
}
figure {
    padding: 10px;
}
.figure-link {
    color: darkred;
}
video {
    width: 75%;
    margin: 10px;
}
/* Header Styles
-------------------------------------------------*/
header {
    background-color: firebrick;
    color: aliceblue;
    font-family: 'Courgette', cursive;
    height: 100px;
    text-align: center;
    /* Keep the header always at the top of the page */
    position: sticky;
    top: 0;
}
.logo {
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 1;
    background-color: orangered;
    color: inherit;
    height: inherit;
    font-family: 'Courgette', cursive;
}
.logo > p {
    height: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo > img {
    height: 60%;
}
.slogan {
    margin: auto;
}
/* Intro Styles
-------------------------------------------------*/
.portrait-photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}
.author-text {
    flex-direction: column;
    margin-top: 10px;
}
.center-container {
    justify-content: center;
}

/* Footer Styles
-------------------------------------------------*/
footer {
    background-color: firebrick;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
footer > address {
    flex-direction: column;
    color: aliceblue;
}
footer > address > p {
    font-family: 'Courgette', cursive;
    padding: 5px;
}
footer > address > div {
    padding: 5px;
}